<table class="table table-bordered k-t-r">
  <tbody>
  <tr>
    <td>
      <vlahio-calendar-cell [value]="'12/05/2019'"></vlahio-calendar-cell>
    </td>
    <td>
      <vlahio-number-cell [value]="60.54"></vlahio-number-cell>
    </td>
    <td>
      <vlahio-square-feet-cell [value]="58.25"></vlahio-square-feet-cell>
    </td>
    <td>
      <vlahio-text-cell [txt]="'YES'"></vlahio-text-cell>
    </td>
    <td>
      <vlahio-year-cell [value]="2019"></vlahio-year-cell>
    </td>
    <td>
      <vlahio-years-cell [value]="24"></vlahio-years-cell>
    </td>
  </tr>
  <tr>
    <td>
      <vlahio-days-cell [value]="4"></vlahio-days-cell>
    </td>
    <td>
      <vlahio-month-cell [value]="6"></vlahio-month-cell>
    </td>
    <td>
      <vlahio-month-cell [value]="'December'"></vlahio-month-cell>
    </td>
    <td>
      <vlahio-day-cell [value]="24"></vlahio-day-cell>
    </td>
    <td>
      <vlahio-day-cell [value]="'Monday'"></vlahio-day-cell>
    </td>
    <td>
      <vlahio-percent-cell [value]="6.5"></vlahio-percent-cell>
    </td>
  </tr>
  <tr>
    <td>
      <vlahio-percent-cell [value]="'6.5'"></vlahio-percent-cell>
    </td>
    <td>
      <vlahio-per-thousand-cell [value]="24.2"></vlahio-per-thousand-cell>
    </td>
    <td>
      <vlahio-per-thousand-cell [value]="'24.2'" [trend]="-100"></vlahio-per-thousand-cell>
    </td>
    <td>
      <vlahio-format-cell [value]="'left'"></vlahio-format-cell>
    </td>
    <td>
      <vlahio-format-cell [value]="'center'" [cls]="'vlahio-fm-c'"></vlahio-format-cell>
    </td>
    <td>
      <vlahio-format-cell [value]="'right'" [cls]="'vlahio-fm-r'"></vlahio-format-cell>
    </td>
  </tr>
  <tr>
    <td>
      <vlahio-currency-cell [amount]="1825.5656" [cls]="'vlahio-mn-usd'" [digits]="3"
                           [trend]="trend"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-pound'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-euro'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-ron'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-chf'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-bgn'"></vlahio-currency-cell>
    </td>
  </tr>
  <tr>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-hrk'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-czk'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-dkk'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-huf'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-isk'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-nok'"></vlahio-currency-cell>
    </td>
  </tr>
  <tr>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-pln'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-rub'"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.5656" [cls]="'vlahio-mn-sek'" [digits]="3"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="-1825.56" [cls]="'vlahio-mn-try'" [trend]="trend"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="1825.56" [cls]="'vlahio-mn-uah'" [trend]="-10"></vlahio-currency-cell>
    </td>
    <td>
      <vlahio-currency-cell [amount]="null" [cls]="'vlahio-mn-uah'"></vlahio-currency-cell>
    </td>
  </tr>
  <tr>
    <td>
      <vlahio-infinity-cell></vlahio-infinity-cell>
    </td>
    <td>
      <vlahio-infinity-cell [visible]="null"></vlahio-infinity-cell>
    </td>
    <td>
      <vlahio-infinity-cell [visible]="true"></vlahio-infinity-cell>
    </td>
    <td>
      <vlahio-square-metre-cell [value]="58.25"></vlahio-square-metre-cell>
    </td>
    <td>
      <vlahio-up-down-arrow [value]="trend"></vlahio-up-down-arrow>
    </td>
    <td class="text-right">
      <vlahio-up-down-arrow [value]="trend"></vlahio-up-down-arrow>
      45
    </td>
  </tr>
  </tbody>
</table>
