<table class="table table-bordered k-t-r">
  <tbody>
  <tr>
    <td [vlahioCalendarCell]="'12/05/2019'"></td>
    <td [vlahioNumberCell]="60.54"></td>
    <td [vlahioSquareFeetCell]="58.25"></td>
    <td [vlahioTextCell]="'YES'"></td>
    <td [vlahioYearCell]="2019"></td>
    <td [vlahioYearsCell]="24"></td>
  </tr>
  <tr>
    <td [vlahioDaysCell]="4"></td>
    <td [vlahioMonthCell]="6"></td>
    <td [vlahioMonthCell]="'December'"></td>
    <td [vlahioDayCell]="24"></td>
    <td [vlahioDayCell]="'Monday'"></td>
    <td [vlahioPercentCell]="6.5"></td>
  </tr>
  <tr>
    <td [vlahioPercentCell]="'6.5'"></td>
    <td [vlahioPerThousandCell]="24.2"></td>
    <td [vlahioPerThousandCell]="'24.2'" [trend]="-100"></td>
    <td [vlahioTextCell]="'left'" [cls]="'vlahio-fm'"></td>
    <td [vlahioTextCell]="'center'" [cls]="'vlahio-fm vlahio-fm-c'"></td>
    <td [vlahioTextCell]="'right'" [cls]="'vlahio-fm vlahio-fm-r'"></td>
  </tr>
  <tr>
    <td [vlahioUsdCurrencyCell]="1825.5656" [digits]="3" [trend]="trend"></td>
    <td [vlahioGbpCurrencyCell]="1825.56"></td>
    <td [vlahioEurCurrencyCell]="1825.56"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-ron'"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-chf'"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-bgn'"></td>
  </tr>
  <tr>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-hrk'"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-czk'"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-dkk'"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-huf'"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-isk'"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-nok'"></td>
  </tr>
  <tr>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-pln'"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-rub'"></td>
    <td [vlahioCurrencyCell]="1825.5656" [cls]="'vlahio-mn-sek'" [digits]="3"></td>
    <td [vlahioCurrencyCell]="-1825.56" [cls]="'vlahio-mn-try'" [trend]="trend"></td>
    <td [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-uah'" [trend]="-10"></td>
    <td [vlahioCurrencyCell]="null" [cls]="'vlahio-mn-uah'"></td>
  </tr>
  <tr>
    <td vlahioInfinityCell></td>
    <td [vlahioInfinityCell]="null"></td>
    <td [vlahioInfinityCell]="true"></td>
    <td [vlahioSquareMetreCell]="58.25"></td>
    <td [vlahioUpDownArrow]="trend"></td>
    <td>
      <span [vlahioUpDownArrow]="trend"></span> 45
    </td>
  </tr>
  </tbody>
</table>
