.vlahio-arrow-container {
  display: inline-block;
  height: 14px;
}

.vlahio-arrow-icon {
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: currentColor;

  @at-root {
    .up#{&} {
      margin-top: 3px;
      color: #48bb78;

      &:before {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    .down#{&} {
      margin-top: 2px;
      color: #e53e3e;

      &:before {
        top: 9px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }

    .up#{&}:before, .down#{&}:before {
      content: '';
      position: absolute;
      left: -2px;
      width: 5px;
      height: 5px;
      border-top: solid 1px currentColor;
      border-right: solid 1px currentColor;
    }
  }
}
