<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">ngx-dom-cell</h1>
        <p class="lead">Set of reusable Angular components to display table cell's.</p>
        <hr class="my-4">
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <h2 class="h2 display-4 size-2">Dom-Cell Components</h2>
      <app-dom-cell-component></app-dom-cell-component>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h2 class="h2 display-4 size-2">Dom-Cell Directives</h2>
      <app-dom-cell-component></app-dom-cell-component>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h2 class="h2 display-4 size-2">Dom-Cell Directives usage</h2>
      <pre><code class="language-html">
        &lt;span [vlahioCalendarCell]="'12/05/2019'"&gt;&lt;/span&gt;
        &lt;span [vlahioNumberCell]="60.54"&gt; &lt;/span&gt;
        &lt;span [vlahioSquareFeetCell]="58.25"&gt;&lt;/span&gt;
        &lt;span [vlahioTextCell]="'YES'"&gt;&lt;/span&gt;
        &lt;span [vlahioYearCell]="2019"&gt;&lt;/span&gt;
        &lt;span [vlahioYearsCell]="24"&gt;&lt;/span&gt;
        &lt;span [vlahioDaysCell]="4"&gt;&lt;/span&gt;
        &lt;span [vlahioMonthCell]="6"&gt;&lt;/span&gt;
        &lt;span [vlahioMonthCell]="'December'"&gt;&lt;/span&gt;
        &lt;span [vlahioDayCell]="24"&gt;&lt;/span&gt;
        &lt;span [vlahioDayCell]="'Monday'"&gt;&lt;/span&gt;
        &lt;span [vlahioPercentCell]="6.5"&gt;&lt;/span&gt;
        &lt;span [vlahioPercentCell]="'6.5'"&gt;&lt;/span&gt;
        &lt;span [vlahioPerThousandCell]="24.2"&gt;&lt;/span&gt;
        &lt;span [vlahioPerThousandCell]="'24.2'" [trend]="-100"&gt;&lt;/span&gt;
        &lt;span [vlahioTextCell]="'left'" [cls]="'vlahio-fm'"&gt;&lt;/span&gt;
        &lt;span [vlahioTextCell]="'center'" [cls]="'vlahio-fm vlahio-fm-c'"&gt;&lt;/span&gt;
        &lt;span [vlahioTextCell]="'right'" [cls]="'vlahio-fm vlahio-fm-r'"&gt;&lt;/span&gt;
        &lt;span [vlahioUsdCurrencyCell]="1825.5656" [digits]="3" [trend]="trend"&gt;&lt;/span&gt;
        &lt;span [vlahioGbpCurrencyCell]="1825.56"&gt;&lt;/span&gt;
        &lt;span [vlahioEurCurrencyCell]="1825.56"&gt; &lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-ron'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-chf'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-bgn'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-hrk'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-czk'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-dkk'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-huf'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-isk'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-nok'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-pln'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-rub'"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.5656" [cls]="'vlahio-mn-sek'" [digits]="3"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="-1825.56" [cls]="'vlahio-mn-try'" [trend]="trend"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="1825.56" [cls]="'vlahio-mn-uah'" [trend]="-10"&gt;&lt;/span&gt;
        &lt;span [vlahioCurrencyCell]="null" [cls]="'vlahio-mn-uah'"&gt;&lt;/span&gt;
        &lt;span vlahioInfinityCell&gt;&lt;/span&gt;
        &lt;span [vlahioInfinityCell]="null"&gt;&lt;/span&gt;
        &lt;span [vlahioInfinityCell]="true"&gt;&lt;/span&gt;
        &lt;span [vlahioSquareMetreCell]="58.25"&gt;&lt;/span&gt;
        &lt;span [vlahioUpDownArrow]="trend"&gt;&lt;/span&gt;
        &lt;span&gt;&lt;span [vlahioUpDownArrow]="trend"&gt;&lt;/span&gt; 45&lt;/span&gt;
      </code></pre>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h2 class="h2 display-4 size-2">Dom-Cell Worker Services</h2>
      <pre><code class="language-typescript">
        {{'constructor(private upDownArrowWorker: UpDownArrowWorker,'}}
                    {{'private trendElementWorker: TrendElementWorker,'}}
                    {{'private trendCellWorker: TrendCellWorker'}}
        {{') {'}}
        {{'}'}}

        {{'ngOnInit(): void {'}}
          // this.upDownArrowWorker.render(val: number): HTMLSpanElement | undefined
          const upDownArrowWorker = this.upDownArrowWorker.render(10);

          // this.trendElementWorker.render(trend: number, parent: HTMLElement, refChild: ChildNode): void
          const parent = this.renderer.createElement('span');
          const refChild = this.renderer.createText('45.56');
          this.renderer.appendChild(parent, refChild);
          const trendElementWorker = this.trendElementWorker.render(10, parent, refChild);

          {{'// this.trendCellWorker.render(txt: any, cls?: string | string[], options: TrendCellWorkerOptionsInterface = {}): SafeHtml | null'}}
          {{'const el = this.trendCellWorker.render(45.56, \'vlahio-mn-mn vlahio-mn-gbp\', {trend: 10});'}}
        }
      </code></pre>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h4 class="display-4 size-2">CSS styles</h4>
      <pre><code class="language-css">
        /* You can add global styles to this file, and also import other style files */
        @import "../../ngx-dom-cell/src/assets/css/ngx-dom-cell.css";
        @import "../../ngx-dom-cell/src/assets/css/ngx-dom-cell-various.css";
        @import "../../ngx-dom-cell/src/assets/css/ngx-dom-cell-table.css";
      </code></pre>
    </div>
  </div>
</div>
